#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh ${@}

override_dh_auto_build:
	bash x.sh

override_dh_auto_install:
	mkdir -pv debian/mycroft-core/opt/
	mv -v /opt/mycroft-core debian/mycroft-core/opt/

override_dh_fixperms:
	dh_fixperms
	chown -R --no-dereference 1000:1000 debian/mycroft-core/opt/mycroft
	chown -R --no-dereference 1000:1000 debian/mycroft-core/var/log/mycroft

override_dh_builddeb:
	dh_builddeb
	cd ..; ls *.deb | xargs zsyncmake

override_dh_strip:
	@echo "Not stripping. Stripping breaks on virtenv stuff."

override_dh_shlibdeps:
	@echo "Not generating shlibdeps"
	# TODO: we probably could get this and maybe also stripping to work if we
	# dropped foreign libs out of the package during installation.
	# Notably:
	# speech_recognition/flac-linux-x86
	# speech_recognition/flac-linux-x86_64
